.custom {
    background: green;
}
h1 {
    font-size: inherit;
}
h2 {font-size: inherit;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: gray;
}
a.nav-link {
    color: gray;
}
.tab-content {
    padding-left: 50px;
    padding-right: 50px;
}